*.opensdf
*.sdf
*.obj
*.idb
*.pdb
*.tlog
*.exe
*.html
*.sh
*.css
*.bat
*.ipp
*.pch
*.rsp
ExtLibs/boost_1_59_0
ExtLibs/Debug
Obj
*.ipch
*.suo
RegressionTest/Vision
RegressionTest/RegressionTest_result.txt
VisionWidget/GeneratedFiles
*.dll
*.tmp
VisionWidget/Vision
VisionWidget/*.bmp
VisionWidget/*.png
VisionWidget/TestImage
*.bak
*.user
TestVisionLibrary/Vision
TestVisionLibrary/data
RegressionTest/Vision
*.yml
*.log
RegressionTest/Data/BranchCut_1.png
RegressionTest/Data/NanMap_2.png
RegressionTest/Data/NanMap_3.png
RegressionTest/Data/BranchCut_2.png
VisionLibrary/Unwrap_original.cpp
TestVisionLibrary/TestVisionLibrary_result.txt
RegressionTest/Data/HaoYu_20171017_Integrate3DCalibData/ResultImg_01.png
RegressionTest/Data/HaoYu_20171017_Integrate3DCalibData/ResultImg_02.png
RegressionTest/Data/HaoYu_20171017_Integrate3DCalibData/ResultImg_04.png
RegressionTest/Data/HaoYu_20171017_Integrate3DCalibData/ResultImg_03.png
RegressionTest/Data/PR_Calib3DHeight_Calib3DHeightResultImg.png
RegressionTest/Data/PR_Calib3DHeight_DivideStepResultImg.png
RegressionTest/Data/FastCalc3DHeightCase/PR_FastCalc3DHeight_PhaseGridImg.png
RegressionTest/Data/FastCalc3DHeightCase/PR_FastCalc3DHeight_HeightGridImg.png
RegressionTest/Data/FastCalc3DHeightCase
RegressionTest/Data/HaoYu_20171017
RegressionTest/Data/HaoYu_20170920
*.db
Install/VisionLibrary*
RegressionTest/Data/DLPImage_ReverseSeqCheck*
result.png
TestVisionLibrary/*.txt
RegressionTest/Data/TestInsp3DSolder_3/result_swap_roi.png
RegressionTest/Data/TestMerge4DlpHeight/PR_Merge3DHeight_Result.png
