*.opensdf
*.sdf
*.obj
*.idb
*.pdb
*.log
*.tlog
*.hpp
*.exe
*.html
*.sh
*.css
*.bat
*.ipp
*.pch
*.rsp
ExtLibs/boost_1_59_0
ExtLibs/Debug
Debug
Release
*.ipch
*.suo
RegressionTest/Vision/Record
RegressionTest/RegressionTest_result.txt
VisionWidget/GeneratedFiles
*.dll
*.lib