*.opensdf
*.sdf
*.obj
*.idb
*.pdb
*.tlog
*.hpp
*.exe
*.html
*.sh
*.css
*.bat
*.ipp
*.pch
*.rsp
ExtLibs/boost_1_59_0
ExtLibs/Debug
Obj
*.ipch
*.suo
RegressionTest/Vision
RegressionTest/RegressionTest_result.txt
VisionWidget/GeneratedFiles
*.dll
*.lib
*.tmp
VisionWidget/Vision
VisionWidget/*.bmp
VisionWidget/*.png
VisionWidget/TestImage
*.bak
*.user
TestVisionLibrary/Vision
TestVisionLibrary/data